<!-- _includes/work_experience.liquid -->
<table class="table-cv">
  {% assign work_items = site.work | sort: "start" | reverse %}
  {% for item in work_items %}
  <tr>
    <td style="white-space: nowrap; padding-right: 1rem;">
      <strong>{{ item.start }}{% if item.end %} ~ {{ item.end }}{% endif %}</strong>
    </td>
    <td>
      {{ item.content | markdownify | remove: '<p>' | remove: '</p>' }}
    </td>
  </tr>
  {% endfor %}
</table>